@model IEnumerable<COMP1640_TEAM4.Models.IdeaUser>

@{
    ViewBag.Title = "Index";
}

<h2>Do you like or not</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsThumbUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsThumbDown)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsThumbUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsThumbDown)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdeaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdeaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdeaId })
        </td>
    </tr>
}

</table>
